
<div class="container">
	<h1 class="title">Burger Stop</h1>

<h2>Available Burgers</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten Burgers!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burgers-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>

</div>
